.flexContainer{
    display: flex;
    background-color: black;
    width: 100%; 
}
.flexContainer2{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    height: 30%;
}
.flexContainer3{
    display: flex;
    background-color: black;
    justify-content: space-evenly;
    height: 300px;
    margin-top: 2%;
}
.nav1{
    background-color: black;
    width: 100%;
    height: 20px;
}
.imgPosition{
    padding-left: 1%;
    width: 40px;
    height: 40px;
    margin-top: 1%;
}
.text{
    margin-left: 2%;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;
    margin-right: 2%;
    font-size: 14px;
}
.divH31{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0%;
}
.divH32{
    background-color: rgb(172, 8, 8);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0%;
}
.divH33{
    background-color:rgb(11, 11, 172);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0%;
}
.divH32{
    background-color: rgb(172, 8, 8);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0%;
}
.imgDiv2{
    padding-bottom: 0%;
}
.div3Text{
    background-color: rgb(217, 45, 74);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0%;

}


